# ----------------------------------------
# MAJOR PARAMETERS
# ----------------------------------------
# OUTPUT PARAMETERS
output_directory = 'temp'	# Local position of a new directory in which output will be written within
system_descriptor = 'Cryst_apo_5jrz_jh.a2_lb3b4'	# string to be used in naming all output files. DO NOT END THIS STRING WITH A PERIOD. NO SPACES EITHER...
pca_clustering_functions_file = 'pca_clustering_functions.py'

cartesian_coordinates_file = 'node_positions_trajectory.dat'
average_structure_file = 'average_structure.dat'
covariance_matrix_file = 'cartesian_covariance.dat'

# ----------------------------------------
# OTHER PARAMETERS
# ----------------------------------------
plotting_boolean = True
nProjections = 10
figure_format = 'png'		# or 'pdf'
write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis

