# ----------------------------------------
# MAJOR PARAMETERS
# ----------------------------------------
# OUTPUT PARAMETERS
output_directory = 'temp'	# Local position of a new directory in which output will be written within
system_descriptor = 'Cryst_apo_5jrz_jh.a2_lb3b4'	# string to be used in naming all output files. DO NOT END THIS STRING WITH A PERIOD. NO SPACES EITHER...
pca_clustering_functions_file = 'pca_clustering_functions.py'


### if dist_calc_boolean == False,
user_defined_data_file = 'node_positions_trajectory.dat' # will not be used if dist_calc_boolean == False; if dist_calc_boolean == True, this parameter corresponds to the local or global position of the full dataset to be analyzed.
user_defined_mean_vector_file = 'mean_vector.dat'
user_defined_variance_vector_file = 'cartesian_variance.dat'
user_defined_covariance_matrix_file = 'cartesian_covariance.dat'

nCluster_list = [4,5,6,7,10,15]

# ----------------------------------------
# OTHER PARAMETERS
# ----------------------------------------
plotting_boolean = True
nProjections = 10
figure_format = 'png'		# or 'pdf'
write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis

