# ----------------------------------------
# MAJOR PARAMETERS
# ----------------------------------------
output_directory = 'temp'	# Local position of a new directory in which output will be written within
system_descriptor = 'Cryst_apo_5jrz_jh.a2_lb3b4'	# string to be used in naming all output files. DO NOT END THIS STRING WITH A PERIOD. NO SPACES EITHER...
make_selections_functions_file = 'make_node_selections.py'
align_and_project_functions_file = 'trajectory_alignment_projection_functions.py'

alignment_structure_data_file = '/home/rbdavid/Projects/Molecular_Machines/Helicase_ZIKV/Analysis/Cryst_apo_5jrz_jh/Lb3b4_cart_pca/Lb3b4_cart_pca/average_node_positions.dat'

pdb = 'dfd'	# Local or Global position of a pdb file of the MD system that will be analyzed
trajectory_list = ['/home/rbdavid/Projects/Molecular_Machines/Helicase_DENV/Analysis/Comparisons/WISP/AMBER_ssrna_atp/production.150/production.149.dcd','/home/rbdavid/Projects/Molecular_Machines/Helicase_DENV/Analysis/Comparisons/WISP/AMBER_ssrna_atp/production.150/production.150.dcd']
substrate_node_definition = 'ATOMIC'
substrate_selection_string = '(resid 52 53 56 63 64 69:74 76:78 80 81 83 and name CA) or (resid 49 65 66 and name CA CZ) or (resid 59 67 75 82 and name CA CG) or (resid 68 and name CA OG1) or (resid 79 and name CA CD) or (resid 84 and name CA CE) or (resid 85 and name CA SG)'

eigenvector_file_naming = '/home/rbdavid/Projects/Molecular_Machines/Helicase_ZIKV/Analysis/Cryst_apo_5jrz_jh/Lb3b4_cart_pca/Lb3b4_cart_pca/%03d.Cryst_apo_5jrz_jh.a2_lb3b4.pca_eigenvector.dat'

# ----------------------------------------
# OTHER PARAMETERS
# ----------------------------------------
plotting_boolean = True
nProjections = 10
figure_format = 'png'		# or 'pdf'
write_summary = True		# Boolean value; if True, the script will print out a summary file that breaks down the parameters used in the analysis and how to rerun the same analysis

